body {
    background-color:gainsboro;
}

.main {
    display: flex;
    justify-content: center;
    
}

.game {
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: rgba(94, 94, 94, 0.71);
    border-radius: 5%;
    box-shadow: #272727 4px 4px;
}


th {
    background-color: Grey;
    
}


.cell {
    border: 5px solid;
    border-color: #a7a5a4;
    width: 20px;
    height: 20px;
}

.status-bar {
    width: 100%;
    height: auto;
    padding-top: 40px;
    

}

.status-bar ul{
    width: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.status-bar button {
    width: 50px;
}


.field-div {
    padding: 40px;
}


/* new logic style */
.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 40px;
    width: 40px;
    box-shadow:0px 0px 0px 1px black inset;
    border-radius: 5%;
}


.checked {
    background-color: red;
}


