body {
    background-color:gainsboro;
}

#main {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: rgba(94, 94, 94, 0.71);
    border-radius: 5%;
    box-shadow: #272727 4px 4px;
}

#table-div  {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

table {
    min-width: 80%;
	border: solid;
    background-color: silver;
    margin: auto;
    empty-cells: show;
}


th {
    background-color: Grey;
    
}


.cell {
    border: 5px solid;
    border-color: #a7a5a4;
    width: 20px;
    height: 20px;
}

.status-bar {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;

}

.status-bar ul{
    width: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.status-bar li {
    width: 180px;
}
.status-bar button {
    width: 100%;
}

/* hacer en javascript: hide all cells */



td:hover {
    
    background: #a7a5a4;
    
}

.field-div {
    padding-top: 40px;
}